<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sushi GO</title>
</head>
<body>
    {% if errorMessage != None %}
        <script>alert("{{errorMessage}}")</script>
    {% endif %}
    {{gameSize}} players game&nbsp;&nbsp;&nbsp;round: {{roundNumber}}<br>
    Players:</br>
    {% for playerId in players.keys() %}
        {{playerId}} {{players[playerId].name}} : {{players[playerId].status}} : {{players[playerId].score}}</br>
        [{%for card in players[playerId].handCards %}
            <img src="{{url_for('static', filename=card.alias+'.png')}}" alt="{{card.name}}({{card.topping.name}}" style="max-height: 2%;max-width: 2%">
            &nbsp;{{card.name}}({{card.topping.name}})&nbsp;
        {% endfor%}]
        </br></br></br>
    {% endfor%}
    {% if pageStatus == 'waiting'%}
        Waiting for other players to join
    {% elif pageStatus == 'playing' and player.currentTurnCards != [] %}
        Pick your card:</br></br>
        <form action="{{url_for('turn_commit', playerId=player.id)}}" method='post'>
            [{% for card in player.currentTurnCards %}
                <img src="{{url_for('static', filename=card.alias+'.png')}}" alt="{{card.name}}">
                <input type="checkbox" name={{card.id}} style="width: 40px; height: 40px;">
                &nbsp;{{card.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}]
            </br></br>
            {% if player.haveChopsticks() %}
                <input type="checkbox" name="useChopsticks">
                &nbsp;Use Chopsticks?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
            </br></br>
            <input type="radio" id="wasabi_egg_nigiri" name="useWasabi" value="wasabi_egg_nigiri">
            <label for="wasabi_egg_nigiri">top egg nigiri to wasabi</label></br></br>

            <input type="radio" id="wasabi_salmon_nigiri" name="useWasabi" value="wasabi_salmon_nigiri">
            <label for="wasabi_salmon_nigiri">top salmon nigiri to wasabi</label></br></br>

            <input type="radio" id="wasabi_squid_nigiri" name="useWasabi" value="wasabi_squid_nigiri">
            <label for="wasabi_squid_nigiri">top squid nigiri to wasabi</label></br></br>

            <input type="radio" id="wasabi_both" name="useWasabi" value="wasabi_both">
            <label for="wasabi_both">top both selected nigiri to 2 wasabis</label></br></br>

            <input type="radio" id="wasabi_unchecked" name="useWasabi" value="wasabi_unchecked" checked>
            <label for="wasabi_unchecked">unchecked</label></br></br>

            <input type="submit" value="Submit">
        </form>
    {% endif %}
    </br></br></br>
    Your cards (score = {{player.score}}):</br></br>
    [{%for card in player.handCards %}
        <img src="{{url_for('static', filename=card.alias+'.png')}}" alt="{{card.name}}({{card.topping.name}}" style="max-height: 5%;max-width: 5%">
        &nbsp;{{card.name}}({{card.topping.name}})&nbsp;
    {% endfor%}]
</body>
</html>