<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sushi GO</title>
</head>
<body>
    {{gameSize}} players game&nbsp;&nbsp;&nbsp;{{gameStatus}}<br>
    Players:</br>
    {% for playerId in players.keys() %}
        {{playerId}} {{players[playerId].name}} : {{players[playerId].status}}</br>
        [{%for card in players[playerId].handCards %}
            &nbsp;{{card.name}}&nbsp;
        {% endfor%}]
        </br></br></br>
    {% endfor%}
    {% if pageStatus == 'waiting'%}
        Waiting for other players
    {% elif pageStatus == 'playing'%}
        Pick your card:</br></br>
        <form action="{{url_for('turn_commit', playerId=playerId)}}" method='post'>
            [{% for card in players[playerId].currentTurnCards %}
                <input type="checkbox" name={{card.id}}>
                &nbsp;{{card.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}]
            <input type="submit" value="Submit">
        </form>
        </br></br></br>
        Your cards:</br></br>
        [{%for card in players[playerId].handCards %}
            &nbsp;{{card.name}}&nbsp;
        {% endfor%}]

    {% endif %}
</body>
</html>